/*This is the css file for all the pages*/

/*Makes the Header Background Orange*/
.header {
  background: -webkit-linear-gradient(top,  #afa46c 0%,#ffffff 35%);
  /* margin-bottom: 3px; */
  /* margin-left: -10pt; */
  /* margin-top: 10pt; */
  padding: 30px;
  /* position: fixed; */
  width: 90%;
  margin-top: -5pt;
  border-style: solid;
  border-width: 1px;
  border-color: blue;
  box-shadow: 0 0px 0 rgba(0, 0, 0, 0.1);
}

/* body{
  background-color: white;
} */
