/*This is the css file for all the pages*/

/*Makes the Header Background Orange*/
.header {
  background: -webkit-linear-gradient(top,  #afa46c 0%,#ffffff 65%);
  /* margin-bottom: 3px; */
  /* margin-left: -10pt; */
  /* margin-top: 10pt; */
  padding: 40px;
  /* width: 90%; */
  margin-top: -5pt;
  /* border-style: solid; */
  border-width: 1px;
  border-color: blue;
  box-shadow: 0 0px 0 rgba(0, 0, 0, 0.1);
  display: flex;
}

.call_for_an_appointment{
  position: relative;
  left: 220px;
  margin-top: 10px;
}

.page-container{
  display: flex;
  justify-content: center;
}

.page-all-items{
  max-width: 1200px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}

.header_bar {
  background-color: #07445e;
  /* height: 30pt; */
}

.top_links {
  color: #eeeeee;
  text-decoration: none;
  font-family: 'Times New Roman',Georgia,"Times New Roman",serif;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 6px 8px;
}

.header_bar a:hover{
  opacity: 0.7;
  transition: all .4s ease-in-out;

}

.home_link {
  margin-left: 10pt;
}

h1{
  font: Arial;
}

.Internal_Medical_Associates {
  font-family: Candara, Times, Arial;
  color: #07445e;
  font-size:30pt;
}

.img-phone-icon {
  height: 30pt;
  width: 30pt;
  left: 200px;
  position: relative;
  margin-top: 40px;
}

.header_names {
  margin-top: -20pt;
  display: flex;
}

.move_name_right {
  margin-left: 20pt;
}

.contents{
  display: flex;
  background: linear-gradient(to bottom, #ffffff 70%,#afa46c 99%);
}

.left_contents {
  margin-top: 20pt;
  margin-left: 10pt;
}

.hours_box{
  margin-top: 20pt;
  margin-left: 20pt;
  margin-right: 10pt;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  width: 180pt;
  height: 250pt
}

#top_hours_box {
  margin-top: 10pt;
}

.hours_box > p{
  margin-left: 20pt;
  margin-top: -10pt;
  font-family: 'Times New Roman',Georgia,"Times New Roman",serif;
}

.central_text {
  width:500pt;
}

.central_text > p{
  font-size: 16pt;
  font-family: 'Times New Roman',Georgia,"Times New Roman",serif;
}

.central_text > div > p{
  font-size: 16pt;
  font-family: 'Times New Roman',Georgia,"Times New Roman",serif;
}

.central_text > div > div > p{
  font-size: 16pt;
  font-family: 'Times New Roman',Georgia,"Times New Roman",serif;
}

.central_text > li {
  font-size: 14pt;
  font-family: 'Times New Roman',Georgia,"Times New Roman",serif;
}

.footer{
  display: flex;
  justify-content: center;
  background-color: #07445e;
  color: #E7E1E1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 8pt;
}

.github_link{
  text-decoration: none;
  color: #E7E1E1;
}

#emphasize_term{
  text-decoration: underline;
}

.blue_text{
  color: #07445e;
}

.move_directions_right{
  padding: 10pt;
  margin-top: -20pt;
  float: right;
  text-decoration: underline;
}

.about_us_section {
  /* display: flex; */
}

.float_right {
  float: right;
  margin-left: 30pt;
}

.margin_bottom_about_us {
  margin-bottom: 120pt;
}

.margin_bottom_about_us {
  margin-bottom: 120pt;
}

.margin_bottom_about_us_200pt {
  margin-bottom: 200pt;
}

.underline {
  text-decoration: underline;
}


/* .central_img {
    max-width: 90%;
    height: 90%;
    background-image: url('https://i.imgur.com/SKhaBME.jpg?1');
    background-repeat: no-repeat;
    background-size: cover;
} */

/* body{
  background-color: white;
} */
