/*This is the css file for all the pages*/




/*These files make the header work.*/
/*These files make the header work.*/
/*These files make the header work.*/

/*Makes the Header Background Orange*/
header {
  background-color: #FFFFFF;
  /*background-color: grey;*/
  margin-bottom: 3px;
  margin-left: -10pt;
  margin-top: -20pt;
  padding: 30px;
  position: fixed;
  width: 100%;
  margin-top: -10px;

/*This makes a temporary border to visualize the header box.*/
  /*border: 1pt black solid;
  border-width: 1pt;
  border-color: black;*/
}

/*Makes the active link a different color.*/
.bright {
  color: #968772 !important;
}

/*Fixes about page header being too low.*/
#site-header-about {
  margin-top: -50px;
}

body{
  background-color: (242,241,233);
}

/*This makes the nav a flex box.*/
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Makes the pot logo float to the top left corner.*/
header > #pot_logo{
float: left;
padding: 5pt;
}

/*Adjusts the size of the pot icon in the header*/
header > #pot_logo > img{
width: 30pt;
}

/*This makes the header fonts insie element a.*/
a {
  font-family: Times;
  font-size: 15pt;
  color: black;
  margin: 10pt;
  padding-left: 20pt;
  text-decoration: none;
}



/*This changes the submit button to brown with white text*/
/*This changes the submit button to brown with white text*/
/*This changes the submit button to brown with white text*/
  #submit_button{
    background-color: #968772; /* Brown */
    border: none;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0px;
}



/*This makes the bottom footer*/
/*This makes the bottom footer*/
/*This makes the bottom footer*/
#site-footer {
  /*position: fixed;*/
  text-align: left;
  color: #F2F1E8;
  background-color: #2B2F26;
  padding: 30px;
  margin-bottom: 0px;
  z-index: 100;
  width: 100%;
  margin-left: -10pt;
  box-shadow: 0 -7px 7px #2B2F26;
}

#site-footer2{
    background-color: #2B2F26;
    padding: 5px;
    position: fixed;
    width: 100%;
    margin-left: -10pt;
    bottom: 0;
    z-index: 80;
}


/*This makes the text work.*/
html {
  font-family: 'Merriweather', serif;
}
header {
  font-family: 'Roboto', sans-serif;
  height: 50px;
  z-index: 50;
}

/*These files make the newsletter page work.*/
/*These files make the newsletter page work.*/
/*These files make the newsletter page work.*/


/*These change the title fonts and sizes.*/
 h2 {
  font-weight: 200;
   margin: 2%;
}

h4 {
  font-weight: 400;
  margin: 2%;
}


/*This creates a flexbox to hold the white submit box.*/
#middle_box_holder {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 500pt;

  /*This makes a temporary border to visualize the title box.*/
    /*border: 1pt black solid;
    border-width: 1pt;
    border-color: blue;*/
}

/*This makes the background appear for the newsletter.*/
#backgroundbox {
  background: url("/week-one-project/images/optimized/background-2.jpg") no-repeat;
  align-self: center;
  background-size: cover;
}
/*#middle_box_holder {
 background: url(/Users/lacro_000/Documents/Projects/week-one-project/images/optimized/background-2.jpg);
 align-self: center;
 background-size: cover;
}*/

/*This makes the box containing the inputs and submit button.*/
#white_comment_box {
  background-color: #FFFFFF;
  margin-bottom: 3px;
  margin-top: 40px;
  padding: 20px;
  width: 600pt;
  height: 250pt;
  text-align: center;


/*This makes a temporary border to visualize the header box.*/
  /*border: 1pt black solid;
  border-width: 1pt;
  border-color: black;*/
}

#name_id, #email_id {
 font-size: 20px;
 padding: 10px 0 10px 0;
 margin: 20px 5% 20px 5%;
 border-top: none;
 border-left: none;
 border-right: none;

}

#inputData{
  display: flex;
  flex-flow: column wrap;
}


/*These make the home/index page work.*/
/*These make the home/index page work.*/
/*These make the home/index page work.*/

/*These make the titles move to the center.*/



#titles {
    padding-top: 70px;
    /*This makes a temporary border to visualize the header box.*/
    /*border: 1pt black solid;
    border-width: 1pt;
    border-color: blue;*/
    background-color: #F2F1E8;
}

#backdrop {
  background-color: #F2F1E8;
}

#titles > h1 {
  font-size: 70px;
  font-weight: 500;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
}

#titles > h3 {
  font-size: 38px;
  font-weight: 100;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

/*Sets up the flex boxes for each of the image sets.*/
.imageSet1 {
  height: 450px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0px;
  background-color: #F2F1E8;
}
.imageSet2 {
  height: 250px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0px 10px 30px 10px;
  background-color: #F2F1E8;
  padding-bottom: 20pt;
}
 .imageSet2 > div > img {
  margin: 5px;
  display: flex;
  align-items: flex-end;
}
.imageSet1 > div > p, .imageSet2 > div > p {
  z-index: 1;
  position: absolute;
  background-color: #2B2F26;
  color: #F2F1E8;
  padding: 15px;
}

.imageSet2 > div > p {
margin-left: 5px;
}


.imageSet1 > div > p {
margin: -10px 0 0 0px;
}

.imageSet2 > div > p{
margin: -70px 0px 0px 5px;
}

/*This splits the top row areas up.*/
.imageSet1 > div {
  margin: 20px;
  display: flex;
  align-items: flex-end;
}

/*This spilts the bottom row areas up.*/
.imageSet2 > div {
-webkit-box-flex: auto;
-ms-flex: auto;
flex: auto;
width: 100px;
margin: .5vw;
}

/*For the top row of images.*/
#image1spikey {
  flex-grow: 3;
  background: url("/week-one-project/images/optimized/product-1.jpg") 50% 0% no-repeat;
  background-size: cover;
}

#image2pots {
  flex-grow: 1;
  background: url("/week-one-project/images/optimized/product-2.jpg") 50% 20% no-repeat;
  background-size: cover;
}

#image3textures {
  flex-grow: 1;
    background: url("/week-one-project/images/optimized/product-3.jpg") 50% 50% no-repeat;
    background-size: cover;
}

/*For the bottom row of images.*/
#image4tea > img {
  flex-grow: 1;
  max-width: 90%;
}

#image5jars > img {
  flex-grow: 1;
  max-width: 90%;
}

#image6saki > img {
  flex-grow: 2;
  max-width: 90%;
}

#image7sun > img {
  flex-grow: 1;
  max-width: 90%;
}















/*This makes the about page work.*/
/*This makes the about page work.*/
/*This makes the about page work.*/

/*This centers the text.*/
#wrap {
  /*This lets the text flow around the images.*/
  text-align: left;
  display: flex;
  flex-flow: column wrap;
  /*This sets the margins, color, and line height for text.*/
  margin: 0 15% 0 15%;
  line-height: 2.2em;
  color: #131511;
}

wrapper {
  background-color: #F2F1E9;
  }

body {
  background-color: #F2F1E9;
}
/*This aligns the title.*/
#artists{
  font-weight: 300;
  font-size: 70px;
  z-index: 0;
  text-align: center;
  padding-top: 100px;
}

#top-box {
  display: inline-block;
  wrap: wrap;
}

/*This makes the dedicated environment link appear normal.*/
#environment {
  color: #968772;
  font-size: 18px;
  margin: 0pt;
  padding-left: 0pt;
  text-decoration: none;
}

.top-box > p, #bottombox > p {
 font-size: 18px;
}

/*This adjusts the sub-title size and characteristics.*/
.sectHead{
  font-size: 30px;
  font-weight: 100;
  margin-top: 30px;
  margin-left: 0px;
  padding-top: 0;
  text-align: left;
}

/*Places and formats the blue birdhouse image.*/
#blue-flower {
  float: left;
  height: 130px;
  padding: 15px 35px 10px 0;
}

/*This makes the blockquotes appear correctly.*/
blockquote {
  font-size: 17px;
  margin-left: 0px;
  font-style: italic;
  padding-left: 28px;
  font-weight: 100%;
  /*This createes the border line.*/
  border-left: 2px solid #C8C8C8;
  width: 100%;
}

/*This places, fixes, and adjusts the bulbs backgroun image.*/
#bulbs{
background: url("/week-one-project/images/optimized/background-3.jpg") center center no-repeat;
  background-attachment: fixed;
  padding: 65px 0 65px 0;
  margin: 8% -18% 3% -20%;
}

/*This places the text over the bulbs.*/
#bulbs > p {
  text-align: center;
  font-size: 72px;
  font-weight: 400;
  color: #FFFFFF;
}

#bottombox {
  display: flex;
}


/*Alters the pot on a table image and text.*/
#potontable img{
  height: 120px;
  width: 150px;
  margin-top: 2em;
  position: relative;
  float: right;
}
#potontable p{
  font-size: 12px;
  line-height: 1.8em;
  position: relative;
  width: 150px;
  float: right;
  wrap: nowrap;
}

/*Gives the table a blue outline.*/
table {
     border-collapse: collapse;
     margin: 0px;

     border-width: 1px;
     border-style: solid;
     border-color: #1fabe5;
     padding: 0px;
     /*Moves the table up.*/
     margin-bottom: 70px;

/*Just wanted space here.*/
     font-family: Helvetica, Arial, sans-serif;
     color: black;
   }

/*A hover command I wanted to try. Turns contents grey.*/
        tr:hover {background-color: #f5f5f5}


/*Altcolor for table rows.*/
.altcolor {
  background-color: #F2EADC;
}

        /*Gives table boxes a blue outline.*/
        tr > td {
            margin: 0px;
            border-collapse: collapse;
            border-width: 1px;
            border-style: solid;
            border-color: black;
            padding: 10px;

            font-family: Helvetica, Arial, sans-serif;
            color: black;
          }

        /*This makes the top of the table blue with white text.*/
          thead > tr > td {
            font-family: Helvetica, Arial, sans-serif;
            color: white;
            background-color: #1fabe5
          }
